<article class="w-full rounded-lg shadow-md overflow-hidden" id="article_item{{id}}">
    <div class="p-6">
        <h2 id="article_title{{id}}" class="text-2xl font-semibold mb-2">{{ title }}</h2>
        <p id="article_published_date{{id}}" class="text-sm text-gray-600 mb-4">{{ published_date }}</p>
        <p id="article_content{{id}}" class="text-base leading-relaxed line-clamp-3">{{ content }}</p>
        <button class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            onclick="window.location.href = '/x/1/editor';">Edit article</button>
    </div>
</article>